.category-box {
  background: #f2f2f2;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  padding-bottom: 20px;
}

.category-box img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.category-box h3 {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 600;
}
