.card {
  background: #ffffff;
  padding: 14px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
  transition: 0.2s;
  cursor: pointer;
}
.card:hover {
  transform: translateY(-4px);
}

.img-box {
  width: 100%;
  height: 280px;         
  border-radius: 12px;
  overflow: hidden;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
}


.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 600;
}
.rating {
  margin: 6px 0;
  color: #444;
  font-size: 14px;
}
.price {
  margin-top: 4px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.price .new {
  font-weight: 700;
}

.price .old {
  text-decoration: line-through;
  color: #888;
}

.price .discount {
  background: #ffefef;
  color: #ff3d3d;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 10px;
}
.view-detail-btn {
  display: block;
  margin-top: 12px;
  padding: 10px 0;
  text-align: center;
  background: #111;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.2s;
}

.view-detail-btn:hover {
  background: #333;
}
