.footer {
  background: #f6f6f6;
  padding: 40px 60px;
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col {
  width: 18%;
  min-width: 150px;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.col h4 {
  font-size: 15px;
  margin-bottom: 10px;
  color: #333;
}

.col a {
  display: block;
  font-size: 14px;
  margin-bottom: 6px;
  color: #555;
  text-decoration: none;
}

.social span {
  margin-right: 10px;
  font-size: 20px;
}


.bottom {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.payment span {
  margin-left: 12px;
  font-size: 24px;
}
.col span {
  display: block;
  margin-bottom: 6px;
}

.social span {
  display: inline-block !important;
  margin-right: 10px;
}